.btn-container {
    padding: 30px;
    display: flex;
    justify-content: flex-start;
}

#delete-selected {
    padding:0.7rem;
    width: fit-content;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}


.icons {
    border: none;
    background: transparent;
    padding: 5px;
    margin-right: 7px;
    cursor: pointer;
    box-shadow: none;
}



@media only screen and (max-width: 600px) {
    .btn-container {
        display: block;
        padding: 1rem;
    }
}